body, html, #PLAYERS {
        background-color: #000;
        padding: 0;
        margin: 0;
        color: transparent;
        height: 100%;
        width: 100%;
    }
    body,html,#a1,#ads{background-color:#000;padding:0;margin:0;width:100%;height:100%;color:transparent;} 
body{position:relative;}
 .panel{background:#000000;background-size:90% 90%;height:26px;padding-top:10px;color:#ffffff;font-family:ו;display:none;}
 .panel a:link{text-decoration:none;color:#ffffff;font-weight:bold;}
 .panel a:visited{text-decoration:none;color:#ffffff;font-weight:bold;}
 .panel a:hover{text-decoration:none;color:#ffffff;font-weight:bold;}
 .panel a:active{text-decoration:none;color:#ffffff;font-weight:bold;}
 .slide{margin:0;padding:0;border-top:solid 0px #000000;}
 .jiexi{display:block;position:relative;right:0px;width:40px;height:24px;padding-top:10px;font-family:ו;font-family:arial, sans-serif;font-size:14px;color:#ffffff;background:#5B7C13;text-decoration:none;text-align:center;-moz-border-top-left-radius:5px;-moz-border-top-right-radius:5px;border-top-left-radius:5px;border-top-right-radius:5px;-moz-border-bottom-left-radius:5px;-moz-border-bottom-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
 .X-WANG{display:block;position:relative;right:0px;width:40px;height:24px;padding-top:10px;font-family:ו;font-family:arial, sans-serif;font-size:14px;color:#ffffff;font-weight:bold;background:#5B7C13;text-decoration:none;text-align:center;-moz-border-top-left-radius:5px;-moz-border-top-right-radius:5px;border-top-left-radius:5px;border-top-right-radius:5px;-moz-border-bottom-left-radius:5px;-moz-border-bottom-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
 .playmain {margin: 0;padding: 0;border-top: solid 0px #000000;}
 .WANG-playmain{display: block;position: relative;right: 0px;width: 360px;height: 0px;padding-top: 0px;font-size: 16px;color: red;font-weight: bold;background: #30a56a;text-decoration: none;text-align: center;-moz-border-top-left-radius: 5px;-moz-border-top-right-radius: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;-moz-border-bottom-left-radius: 5px;-moz-border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
  #playad{
    position: absolute; 
	display:none;
	width:100%;
    height:100%;
}
        #WANG{
          display:none;
        }
  #playat{
    position: absolute; 
	display:none;
	width:100%;
    height:100%;
}
        #PLAYERS{
          display:none;
        }
    #play_header {
      Z-INDEX: 8000;
      POSITION: fixed;
      TEXT-INDENT: -99999px;
      WIDTH: 26px;
      DISPLAY: block;
      BACKGROUND: url(/haunxian.gif) no-repeat 0px 0px;
      HEIGHT: 35px;
      TOP: 0px;
      CURSOR: pointer;
      RIGHT: 0px;
    }
    #play_header.open{background-position:0px -43px};
    #play_header a {
      color: red;
      text-decoration: none;
      cursor: pointer;
    }